.panel
   h1 Vine
   .formset
     .form-group
       lable.form-label User Name
       input.form-control(type='text')
     .form-group
       lable.form-label Password
       input.form-control(type='password')
     button.btn Log in
   
   h4 Login with
   
   form.twitter.log-form
        h3.caption.fa.fa-twitter
        p Login with Twitter
        i.close &times;
        .formset
          .form-group
            lable.form-label User Name
            input.form-control(type='text')
          .form-group
            lable.form-label Password
            input.form-control(type='password')
          button.btn Log in
          
   form.google.log-form
        h3.caption.fa.fa-google-plus 
        p Login with Google + 
        i.close &times;
        .formset
          .form-group
            lable.form-label User Name
            input.form-control(type='text')
          .form-group
            lable.form-label Password
            input.form-control(type='password')
          button.btn Log in
          
   form.facebook.log-form
        h3.caption.fa.fa-facebook 
        p Login with Facebook 
        i.close &times;
        .formset
          .form-group
            lable.form-label User Name
            input.form-control(type='text')
          .form-group
            lable.form-label Password
            input.form-control(type='password')
          button.btn Log in